@charset "utf-8";
body,
div,
p {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Meiryo", "Helvetica", "Arial";
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.7;
  color: #f8f8f2;
  background-color: #272822;
}
a,
a:link {
  color: #66d9ef;
}
a:visited {
  color: #f92672;
}
#novel_color {
  width: 100%;
  max-width: 640px;
  margin: 20px auto;
  padding-right: 20px;
  padding-left:  20px;
  box-sizing: border-box;
}
.novel_bn {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.novel_bn:last-child {
  margin-top: 30px;
}
.novel_bn a {
  display: inline-block;
  margin-right: 10px;
  margin-left:  10px;
}
#novel_no {
  margin-top: 15px;
  text-align: center;
}
.novel_subtitle {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}
#novel_p,
#novel_a {
  margin-top: 10px;
  color: #75715e;
}
#novel_honbun {
  margin-top: 10px;
}